#### TWINT requirements
git+https://github.com/twintproject/twint.git@origin/master#egg=twint
aiohttp==3.7.0
aiodns
beautifulsoup4
cchardet
dataclasses
elasticsearch
pysocks
pandas>=0.23.0
aiohttp_socks<=0.4.1
schedule
geopy
fake-useragent
googletransx

##### WebApp dependencies
yfinance
streamlit 
pyngrok==4.1.1
transformers 
tensorflow 
numpy==1.19.3
emojis
pandas_ta 
scipy
pandas_datareader
datetime
matplotlib
plotly
emojis
dateutil

#### Version specific
pyyaml==5.4.1
pyngrok==4.1.1
numpy==1.19.3
