#### TWINT requirements
git+https://github.com/twintproject/twint.git@origin/master#egg=twint
Python <=3.6
aiohttp==3.7.0
aiodns
beautifulsoup4
cchardet
elasticsearch
pysocks
pandas >=0.23.0
aiohttp_socks
schedule
geopy
fake-useragent
py-googletransx

##### WebApp dependencies
yfinance
streamlit 
pyngrok==4.1.1
transformers 
tensorflow 
numpy==1.19.3
emojis
pandas_ta 
scipy.special.softmax
pandas_datareader
datetime
matplotlib.pyplot
plotly.graph_objects
plotly.express
os
re
emojis
PIL
dateutil.parser

#### Version specific
pyyaml==5.4.1
pyngrok==4.1.1
numpy==1.19.3
